{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block title %}Accueil{% endblock %}

{% block content %}
<!-- Section Carrousel -->
<section class="carousel-section">
    <div class="carousel-container">
        <div class="carousel-overlay">
            <div class="carousel-text">
                <h1>Bienvenue sur le Forum des Bricoleurs</h1>
                <p>Explorez, apprenez et partagez vos astuces de bricolage avec la communauté.</p>
                <a href="{% url 'a_propos' %}" class="btn-carousel">En savoir plus</a>
            </div>
        </div>
        <div class="carousel">
            <div class="carousel-slides">
                <div class="slide"><img src="{% static 'img/slide1.jpg' %}" alt="Bricolage 1"></div>
                <div class="slide"><img src="{% static 'img/slide2.jpg' %}" alt="Bricolage 2"></div>
                <div class="slide"><img src="{% static 'img/slide3.jpg' %}" alt="Bricolage 3"></div>
            </div>
        </div>
        <div class="carousel-controls">
            <button class="prev-btn">&laquo;</button>
            <button class="next-btn">&raquo;</button>
        </div>
    </div>
</section>

<!-- Partie blog -->
<h1>Blog récemment publié</h1>

<div class="blog-container">
    {% for post in posts %}
    <div class="blog-card">
        <a href="{% url 'post_detail' post.id %}" class="blog-link">
            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="blog-image">
            <div class="blog-info">
                <h2 class="blog-title">{{ post.title }}</h2>
                <p class="blog-date">{{ post.published_at|date:"d/m/Y" }}</p>
                <p class="blog-description">{{ post.tag }}</p>
            </div>
        </a>
        <div class="blog-actions">
            <div class="thumbs-up-down">
                <a href="#" class="thumb"><i class="fa-solid fa-thumbs-up"></i></a><p>12000k</p>
                <a href="#" class="thumb"><i class="fa-solid fa-thumbs-down"></i></a><p>2k</p>
            </div>
            <div class="subscribe">
                <p>300k abonné(e)</p>
                <button>S'abonner</button>
            </div>
        </div>
    </div>
    {% empty %}
    <p>Aucune publication pour le moment.</p>
    {% endfor %}
</div>

<script src="{% static 'js/home.js' %}" defer></script>
{% endblock %}
